.row {
    display: flex;
    gap: var(--f-spacing-sml);
}

.row > * {
    min-width: 0 !important;
    flex-basis: 0;
    flex-grow: 1;
}

.column {
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-sml);
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-med);
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}