.container {
    padding: var(--f-spacing-med);
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-med);
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}