.row {
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-sml);
}

.heading {
    font-weight: 600;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: var(--f-spacing-sml);
}

.list > * {
    flex-grow: 1;
}