.row {
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-sml);
}

.heading {
    font-weight: 600;
}

.list {
    display: grid;
    grid-template-columns: repeat(calc(var(--books-per-row) - 1), 1fr);
    gap: var(--f-spacing-sml);
}

.list > * {
    flex-grow: 1;
}