.main {
    min-height: 100svh;
    padding-top: var(--header);
    padding-inline: var(--space);
}

.section {
    padding-block: var(--f-spacing-xlg);
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-med);
}

.row {
    display: flex;
    gap: var(--f-spacing-med);
}

.row > * {
    flex-basis: 0;
    flex-grow: 1;
}