:root {
    --space: 20rem;
    --header: 5rem;

    --books-per-row: 5;
}

body {
    color: var(--f-clr-text-100);
    background-color: var(--f-clr-bg-100);
}

@media (max-width: 1440px) {
    :root {
        --space: 12rem;
        --books-per-row: 4
    }
}

@media (max-width: 1024px) {
    :root {
        --space: 8rem;
        --books-per-row: 3
    }
}

@media (max-width: 768px) {
    :root {
        --space: 4rem;
        --books-per-row: 2
    }
}

@media (max-width: 480px) {
    :root {
        --space: 1rem;
    }
}