.footer {
    padding-inline: var(--space);
    padding-block: var(--f-spacing-lrg);
    background-color: var(--f-clr-fg-100);
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-lrg);
}

.row {
    display: flex;
    align-items: flex-start;
    gap: var(--f-spacing-xlg);
    flex-wrap: wrap;
}

.list {
    line-height: 2;
}

.list .heading {
    font-weight: 600;
}

.list .link {
    display: block;
    text-decoration: underline;
}

.list .link:hover {
    text-decoration: line-through;
}

.socials {
    margin-left: auto;
    display: flex;
    gap: var(--f-spacing-sml);
}

.links {
    display: flex;
    gap: var(--f-spacing-sml);
}

.copyright {
    align-self: center;
    font-size: var(--f-font-size-sml);
    color: var(--f-clr-grey-500);
    margin-left: auto;
}