.header {
    position: fixed;
    width: 100%;
    height: var(--header);
    padding-inline: var(--space);
    background-color: var(--f-clr-fg-100);
    display: flex;
    align-items: center;
    gap: var(--f-spacing-lrg);
    z-index: 100;
}

.push {
    margin-left: auto;
}