.container {
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-sml);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    font-size: var(--f-font-size-med);
    font-weight: 600;
}

.list {
    display: flex;
    gap: var(--f-spacing-sml);
}

.list > * {
    flex-basis: 20%;
}