.main {
    min-height: 100svh;
    padding-top: var(--header);
    padding-inline: var(--space);
}

.section {
    padding-block: var(--f-spacing-xlg);
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-med);
}

.row {
    display: flex;
    gap: var(--f-spacing-med);
    flex-wrap: wrap;
}

.row > * {
    flex-basis: 0;
    flex-grow: 1;
}

.joined {
    display: flex;
    gap: var(--f-spacing-med);
    align-items: flex-end;
    flex-shrink: 0;
    min-width: 320px;
}

.joined > *:first-child {
    flex-grow: 1;
}

.joined > *:last-child {
    position: relative;
    margin-bottom: 2px;
}