.list {
    display: grid;
    grid-template-columns: repeat(calc(var(--books-per-row) - 1), 1fr);
    gap: var(--f-spacing-sml);
}

.heading {
    padding-bottom: var(--f-spacing-med);
    font-size: var(--f-font-size-med);
}