.review {
    display: flex;
    gap: var(--f-spacing-med);
}

.profile {
    width: 4rem;
    height: 4rem;
    border-radius: 99px;
    background-color: var(--f-clr-fg-200);
}

.body {
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-sml);
    flex-grow: 1;
}

.row {
    display: flex;
    justify-content: space-between;
}

.date {
    color: var(--f-clr-grey-600);
}

.rating {
    font-size: var(--f-font-size-lrg);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: var(--f-spacing-xsm);
}

.text {
    text-align: justify;
}