.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-sml);
}

.heading {
    font-size: var(--f-font-size-sml);
    font-weight: 600;
}

.list {
    display: grid;
    grid-template-columns: repeat(var(--books-per-row), 1fr);
    gap: var(--f-spacing-sml);
}

.view__all {
    padding-inline: 1em !important;
}