.review {
    display: flex;
    gap: var(--f-spacing-med);
}

.cover {
    position: relative;
    width: 8rem;
    aspect-ratio: 1 / 1.4;
    flex-shrink: 0;
    image-rendering: pixelated;
}

.body {
    display: flex;
    flex-direction: column;
    gap: var(--f-spacing-sml);
    flex-grow: 1;
}

.row {
    display: flex;
    justify-content: space-between;
}

.date {
    color: var(--f-clr-grey-600);
}

.rating {
    font-size: var(--f-font-size-lrg);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: var(--f-spacing-xsm);
}

.text {
    text-align: justify;
}